@import "tailwindcss";

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: black;
  display: block;
  margin-top: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}

.nav-link:hover::after {
  width: 100%;
  
}

#hover-div:hover h1 {
  transform: translateX(-10px);
}


#hover-div:hover p {
  transform: translateX(10px);
}

#modal-slider {
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}