@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  font-family: "Nohemi", Arial, Helvetica, sans-serif;
  scrollbar-width: auto;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.room-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.room-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}


@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bueno";
  src: url("/fonts/Bueno-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.font-bueno {
  font-family: "Bueno", Arial, Helvetica, sans-serif;
}

