@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  scrollbar-width: wide; 
  -ms-overflow-style: none;  
  
  
}





.font-anton {
  font-family: var(--font-anton), sans-serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
}

.font-satoshi {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
}

.satoshi-regular {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.satoshi-medium {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.satoshi-bold {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.satoshi-black {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}

.hero-intro-logo path {
  fill: transparent;
  stroke: #ecdfcc;
  stroke-width: 0.8;
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: textAnimation 4s ease-in-out forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 350;
    fill: transparent;
  }

  75% {
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #ecdfcc;
  }
}





